{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Solucion de informatica y problemas relacionadas en TIC, creador de proyectos manager de diferentes 
            proyectos,  jefe de mando de trajos extensos de programacion </p>
        <p>Relaciones de trajo con lo indicado .</p>
            
        <br>
        <p><b>Teléfono:</b> +52 7228368665</p>
        <p><b>Honorarios:</b> 800€/h (precio base)</p>
    </div>
</div>
{% endblock %}

